@font-face{
    font-family: 'camera-plain';
    src: url(fonts/ABCCameraPlain-Regular.woff)
}
@font-face{
    font-family: 'camera-plain-italic';
    src: url(fonts/ABCCameraPlain-RegularItalic.woff);
}

.my-text { font-feature-settings: "ss02";}

body{
    background-color: #e34d4d;
    overflow-x: hidden;
}
html,
body {
    font-family: camera-plain;
    padding: 0;
    margin: 0;
    color: #000;
}
.col-menu{
    float: left;
    width: 80%;
    padding: 8px;
    padding-left: 0px;
    text-align: left;
    background-color: #e34d4d;
}
.col-body{
    float: right;
    width: 20%;
    padding: 8px;
    background-color: #e34d4d;
}
.columns{
   display: flex;
    overflow: hidden;
    height: 100vh;
    margin-top: -100px;
    padding-top: 92px;
    padding-left: 0px;
    padding-right: 0px;
    position: relative;
    width: 100%;
    backface-visibility: hidden;
    will-change: overflow;
}
.col-menu,
.col-body{
    overflow: auto;
    height: auto;
    padding-left: 0px;
    -ms-overflow-style: none;
}
.col-menu::-webkit-scrollbar,
.col-body::-webkit-scrollbar {
    display: none;
}
.col-menu{
    width: 80%;
    padding-left: 8px;
}
.col-body{
    width: 20%;
}
.header{
    width: 100%;
    background-color: #e34d4d;
    position: sticky; top: 0;
}
.topnav{
    display: inline;
    padding: 0%;
    justify-content: center;
    align-items: flex-start;
    overflow: auto;
}
.topnav a{
    float: left;
    display: block;
    text-align: center;
    color: #0c1d3f;
    text-decoration: none;
    font-size: 12pt;
    padding: 0px;
    padding-left: 0px;
    padding-right: 120px;
    font-family: camera-plain;
}
.dropdown{
    float: left;
    overflow: hidden;
}
.dropdown .dropbtn{
    font-size: 12pt;
    font-family: camera-plain;
    outline: none;
    border: none;
    color: #0c1d3f;
    margin: 0;
    background-color: inherit;
    padding: 0px;
    padding-left: 5px;
    padding-right: 120px;
}
.dropdown-content{
    display: none;
    position: absolute;
    min-width: 160px;
}
.dropdown-content a{
    float: none;
    color: #0c1d3f;
    padding-left: 4px;
    padding-bottom: 1.5px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.tdrop:hover{
    color: #fff!IMPORTANT;
}
.gddrop:hover{
    color: #fff!IMPORTANT;
}
.wdrop:hover{
    color: yellowgreen;
}
.home:hover{
    color: #fff;
}

.licenses:hover{
    color: #fff;
}
.contact:hover{
    color: #fff;
}
.contact{
    padding-left: 150px !IMPORTANT;
    padding-right: 200px !IMPORTANT;
    right: 50%
}
.gd-link{
    text-decoration: none;
    color: #0c1d3f;
}
.gd-link:hover{
    color: #fff;
}
.t-link{
    text-decoration: none;
    color: #0c1d3f;
}
.t-link:hover{
    color: #fff;
}
.c-link{
    text-decoration: none;
    color: #0c1d3f;
}
.c-link:hover{
    color: #fff;
}
.lb-link-lett{
    font-family: camera-plain-italic;
    text-decoration: none;
    color: #0c1d3f;
}
.lb-link-lett:hover{
    color: #ff8000;
}
.lb-link-erb{
    font-family: camera-plain-italic;
    text-decoration: none;
    color: #0c1d3f;
}
.lb-link-erb:hover{
    color: #00e054;
}
.lb-link-oxd{
    font-family: camera-plain-italic;
    text-decoration: none;
    color: #0c1d3f;
}
.lb-link-oxd:hover{
    color: #40bcf4;
}
.imdb-link{
    font-family: camera-plain-italic;
    text-decoration: none;
    color: #0c1d3f;
}
.imdb-link:hover{
    color: #f3ce13;
}
